<form ng-submit="saveOrUpdateAction()">
<div class="container-fluid" style="background: white; width: 100%;">
	<div class="row">
		<div class="col-md-12 lblHeader">
			<label>Assign-Task</label>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 lblfont16px">
			<label>Task Name :</label>
		</div>
		<div class="col-md-3">
			<input type="text" class="form-control" required="required" ng-model="taskObj.taskName">
		</div>
		<div class="col-md-3 lblfont16px">
			<label>Assign To :</label>
		</div>
		<div class="col-md-3">
			<div class="input-group"
																style="width: 100%">
																<div angucomplete-alt id="customerId" 
																	pause="100"
																	disable-input="isDisabled"
																	selected-object="selectedCustomerIdAction"
																	local-data="lookupbean.customersList"
																	search-fields="customerId" title-field="customerId"
																	minlength="2" initial-value="customer"
																	input-class="search-control height34 "
																	match-class="highlight"></div>

															</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 lblfont16px">
			<label>Due Date :</label>
		</div>
		<div class="col-md-3">
												<input type="text" class="form-control" 
													ng-model="employeePersonalInfoJson.strDateOfBirth"
													datepicker-popup="dd-MM-yyyy" is-open="Opened"
													ng-focus="Opened=true" ng-click="Opened=true"> 
		</div>
		<div class="col-md-3 lblfont16px"></div>
		<div class="col-md-3"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 lblfont16px">
			<label>Status :</label>
		</div>
		<div class="col-md-3">
			<select
				class="form-control selectBox"
				required ng-model="taskObj.status">
				<option value="" disabled selected>Select</option>
				<option value="Pending">Pending</option>
				<option value="Completed">Completed</option>
			</select>
		</div>
		<div class="col-md-3 lblfont"></div>
		<div class="col-md-3"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-3 lblfont16px">
			<label>Description :</label>
		</div>
		<div class="col-md-9">
			<textarea rows="5" cols="40" class="form-control" ng-model="taskObj.description"></textarea>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-md-6">
			<button type="submit" class="btn btn-success btnInfo align_right" >SUBMIT</button>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-warning btnInfo">CLEAR</button>
		</div>
	</div>

</div>
</form>